### List Methods:

- Adding elements:
    - append()
    - insert()
    - extend()
    
- Removing elements:
    - pop()
    - remove()
    - clear()
    
- sorting and reversing:
    - sort()
    - reverse()
    - index()
    - count()
    - copy()

In [1]:
list1 = [12, 23, 4, 56, 78]  # 10 to be added to the list1

# append --> Add an element to the end of the list

list1.append(10)
list1

[12, 23, 4, 56, 78, 10]

In [3]:
list1.append('a')

In [4]:
list1

[12, 23, 4, 56, 78, 10, 'a']

In [5]:
# insert --> Adds an element at the specified position
list1.insert(1, 100)
list1

[12, 100, 23, 4, 56, 78, 10, 'a']

In [6]:
# extend --> Add multiple elements to the list
list1.extend([10, 20, 30])
list1

[12, 100, 23, 4, 56, 78, 10, 'a', 10, 20, 30]

In [7]:
# pop --> by default removes the last element
print("List1 before using pop", list1)

list1.pop()

print("List1 after using pop", list1)

List1 before using pop [12, 100, 23, 4, 56, 78, 10, 'a', 10, 20, 30]
List1 after using pop [12, 100, 23, 4, 56, 78, 10, 'a', 10, 20]

In [8]:
list1.pop(2)
list1

[12, 100, 4, 56, 78, 10, 'a', 10, 20]

In [9]:
# delete 100, 4, 56--> range of indices 
del list1[1:4]
list1

[12, 78, 10, 'a', 10, 20]

In [10]:
# remove --> Remove an element without using the index
list1.remove('a')
list1

[12, 78, 10, 10, 20]

In [11]:
# clear --> remove all the elemets from the list

list1.clear()
list1

[]

In [12]:
list1.append(12)
list1

[12]

In [13]:
del list1

In [14]:
list1

NameError: name 'list1' is not defined

In [15]:
#sort --> sort in ascending or descending
list1 = [10, 45, 65, 21, 33, 1, 34, 58]
list1.sort()
list1

[1, 10, 21, 33, 34, 45, 58, 65]

In [16]:
list1.sort(reverse = True)
list1

[65, 58, 45, 34, 33, 21, 10, 1]

In [17]:
# index --> return index of the given element
list1.index(34)

3

In [20]:
# count --> returns the count of the element
list1.append(1)
print(list1)
list1.count(1)

[65, 58, 45, 34, 33, 21, 10, 1, 1, 1]

3

In [21]:
# copy --> copies all the elements into another list
list2 = list1.copy()
print("list1", list1)
print("list2", list2)

list1 [65, 58, 45, 34, 33, 21, 10, 1, 1, 1]
list2 [65, 58, 45, 34, 33, 21, 10, 1, 1, 1]

In [22]:
list3 = list1
print("list1", list1)
print("list3", list3)

list1 [65, 58, 45, 34, 33, 21, 10, 1, 1, 1]
list3 [65, 58, 45, 34, 33, 21, 10, 1, 1, 1]

In [23]:
# Add 100 into list1
list1.append(100)
print("list1", list1)
print("list2", list2)
print("list3", list3)

list1 [65, 58, 45, 34, 33, 21, 10, 1, 1, 1, 100]
list2 [65, 58, 45, 34, 33, 21, 10, 1, 1, 1]
list3 [65, 58, 45, 34, 33, 21, 10, 1, 1, 1, 100]

In [24]:
list1.pop()
print("list1", list1)
print("list2", list2)
print("list3", list3)

list1 [65, 58, 45, 34, 33, 21, 10, 1, 1, 1]
list2 [65, 58, 45, 34, 33, 21, 10, 1, 1, 1]
list3 [65, 58, 45, 34, 33, 21, 10, 1, 1, 1]

Find out the smallest element from the list and display the index of that smallest element

In [28]:
l1 = [12, 23, -1, 8, 678, 56, 467, 43, 22, -90, 8]
print(min(l1), l1.index(min(l1)))

-90 9

###  Tuples

In [29]:
t = (1,2,3,4)
t

(1, 2, 3, 4)

In [32]:
t[1] = 12

TypeError: 'tuple' object does not support item assignment

In [34]:
# Creating a tuple and check the type
tup1 = (12, 23, 23.5, 'a', False)
print(tup1)
type(tup1)

(12, 23, 23.5, 'a', False)

tuple

In [35]:
tup1[1]

23

In [37]:
tup1[1] = 32

TypeError: 'tuple' object does not support item assignment

In [44]:
# Built in functions
t2 = (1, 23.4,  -20)
print(len(t2), min(t2), max(t2))

3 -20 23.4

In [46]:
list1 = [1,2,3,4]
print(list1, type(list1))

tup2 = tuple(list1)
print(tup2, type(tup2))

[1, 2, 3, 4] <class 'list'>
(1, 2, 3, 4) <class 'tuple'>

### Tuple Methods

In [ ]:
index() and count()

In [47]:
tup1

(12, 23, 23.5, 'a', False)

In [48]:
tup1.index(23)

1

In [49]:
tup1.count(23)

1