In [1]:
dir(list)  # it lists all the attributes and methods

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

##### How to create an empty tuple and also with single element

In [2]:
list1 = []
tup1 = ()
print(type(list1), type(tup1))

<class 'list'> <class 'tuple'>

In [6]:
list2 = [10]
tup2 = (10,)
print(type(list2), type(tup2))

<class 'list'> <class 'tuple'>

### Packing and Unpacking

In [8]:
t1 = 10, 20, 30
print(type(t1), t1) # Packing

<class 'tuple'> (10, 20, 30)

In [11]:
t1 # 3 values --> create 3 variables and store those 3 values into 3 variables

(10, 20, 30)

In [ ]:
x, y, z = t1  # x, y, z = 10, 20, 30

In [10]:
a, b, c = t1 # Unpacking 
print("a is", a)
print("b is", b)
print("c is", c)

a is 10
b is 20
c is 30

In [12]:
t2 = 1, 2,3, 4
t2

(1, 2, 3, 4)

In [14]:
# create 4 variables to hold 1, 2,3 ,4
a, b, c, d, e = t2
print(a, b, c, d)

ValueError: not enough values to unpack (expected 5, got 4)

### Set

- Sets are enclosed in {}
- Set is unordered and unidexed
- It doesn't allow to store the duplicate values

In [20]:
l1 = [13, 43, 56, 77, -90, 13, 43, 13, 56, 13, 43, 13, 13]
l1 # stores the duplicate values

[13, 43, 56, 77, -90, 13, 43, 13, 56, 13, 43, 13, 13]

In [19]:
s1 = { 13, 43, 56, 77, -90, 13, 43, 13, 56, 13, 43, 13, 13}
print(type(s1), s1)

<class 'set'> {-90, 43, 77, 13, 56}

In [17]:
s1[2]

TypeError: 'set' object is not subscriptable

+, *, in , not in

In [22]:
set1 = {1, 2,3, 4, 5} 
set2 = {4, 5,6, 7, 8}
set1 + set2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [24]:
# help(set)

In [25]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [26]:
set1 * set2

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [30]:
print(set2)

print(6 in set2)

print(30 in set2)

print(30 not in set2) # checks for the presence of the given value

{4, 5, 6, 7, 8}
True
False
True

##### Built-in functions

In [32]:
print(set2, len(set2), min(set2), max(set2))

{4, 5, 6, 7, 8} 5 4 8

In [33]:
#set() --> type casting
list1 = [1,2,3,4,5]
print(type(list1))

<class 'list'>

In [35]:
s = set(list1)
print(type(s), s)

<class 'set'> {1, 2, 3, 4, 5}

### Built-in Methods

In [44]:
A = {1,3,5,7,9}
B= {2,4,6,8,10, 1, 3}
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [45]:
A.intersection(B)

{1, 3}

In [46]:
A.difference(B)  # A-B

{5, 7, 9}

In [47]:
B.difference(A)  # B-A

{2, 4, 6, 8, 10}

In [49]:
C = {1, 2,3,4,5,6,7,8}
D = {1, 2,3}
print(C.issuperset(D))
print(D.issuperset(C))

True
False

In [50]:
print(C.issubset(D))
print(D.issubset(C))

False
True

###### Modifications elements
- add()
- pop()
- remove()
- clear()
- discard()

In [53]:
print(A)
A.add(100) # add an element into set 
print(A)

{1, 3, 5, 7, 9}
{1, 3, 100, 5, 7, 9}

In [54]:
A.pop() # removes any element from the set randomly

1

In [55]:
A

{3, 5, 7, 9, 100}

In [56]:
A.remove(100)

In [57]:
A

{3, 5, 7, 9}

In [58]:
#  If it finds the element it will remove it from the set, 
## and if doesn't find the element, do nothing
A.discard(3)

In [59]:
A

{5, 7, 9}

In [60]:
A.discard(3)

In [61]:
A

{5, 7, 9}

In [62]:
A.clear()
A

set()

In [64]:
# Shallow Copy  
A = B.copy() # copy all the elements inside the set B and store it into A
print(B)

{1, 2, 3, 4, 6, 8, 10}

In [65]:
A

{1, 2, 3, 4, 6, 8, 10}

In [67]:
# Deep Copy 
C = B 
B.add(100)
print("B :", B)
print("C:", C)
print("A:",A)

B : {1, 2, 3, 4, 100, 6, 8, 10}
C: {1, 2, 3, 4, 100, 6, 8, 10}
A: {1, 2, 3, 4, 6, 8, 10}