In [1]:
### Creating a dictionary
dict1 = {"name" : "mounika", "Address": "Hyderabad", "email": "abc@gmail.com"}
print(type(dict1))
dict1

<class 'dict'>

{'name': 'mounika', 'Address': 'Hyderabad', 'email': 'abc@gmail.com'}

In [3]:
## Updating the dictionary
dict1['name'] = "mounika k"
dict1

{'name': 'mounika k', 'Address': 'Hyderabad', 'email': 'abc@gmail.com'}

In [5]:
## Adding new entries into the dict
# dict1[key] : new value
dict1['course'] = ["python", "Data Science"]
dict1

{'name': 'mounika k',
 'Address': 'Hyderabad',
 'email': 'abc@gmail.com',
 'course': ['python', 'Data Science']}

In [6]:
# Delete an entry
del dict1['course']
dict1

{'name': 'mounika k', 'Address': 'Hyderabad', 'email': 'abc@gmail.com'}

In [7]:
dict1['course'] = 'Java'
dict1

{'name': 'mounika k',
 'Address': 'Hyderabad',
 'email': 'abc@gmail.com',
 'course': 'Java'}

In [8]:
dict1['course'] = 'Python'
dict1

{'name': 'mounika k',
 'Address': 'Hyderabad',
 'email': 'abc@gmail.com',
 'course': 'Python'}

In [9]:
# Mutable--> All the changes can be done(List)
# Immutable --> No changes can be made(Tuple)
# Keys must be immutable
dict1[[1,2,3]] ="list"
dict1

TypeError: unhashable type: 'list'

In [10]:
dict1[(1,2,3)] ="list"
dict1

{'name': 'mounika k',
 'Address': 'Hyderabad',
 'email': 'abc@gmail.com',
 'course': 'Python',
 (1, 2, 3): 'list'}

In [11]:
# Membership Operator
"name" in dict1

True

In [12]:
"Name" in dict1

False

In [13]:
## Build-In Functions
#len, min, max
print(len(dict1), min(dict1), max(dict1))

TypeError: '<' not supported between instances of 'tuple' and 'str'

In [14]:
del dict1[(1, 2, 3)]
dict1

{'name': 'mounika k',
 'Address': 'Hyderabad',
 'email': 'abc@gmail.com',
 'course': 'Python'}

In [15]:
print(len(dict1), min(dict1), max(dict1))

4 Address name

Builtin Methods

In [16]:
dict1

{'name': 'mounika k',
 'Address': 'Hyderabad',
 'email': 'abc@gmail.com',
 'course': 'Python'}

In [17]:
# keys() --> Return all the keys of dict
dict1.keys()

dict_keys(['name', 'Address', 'email', 'course'])

In [18]:
# values() --> Return all the values of the dict
dict1.values()

dict_values(['mounika k', 'Hyderabad', 'abc@gmail.com', 'Python'])

In [19]:
#items() --> Return all the entries
dict1.items()

dict_items([('name', 'mounika k'), ('Address', 'Hyderabad'), ('email', 'abc@gmail.com'), ('course', 'Python')])

In [21]:
#setdefault()--> Add a new entry if entry doesn't exist
dict1.setdefault("ID", "588561")
dict1

{'name': 'mounika k',
 'Address': 'Hyderabad',
 'email': 'abc@gmail.com',
 'course': 'Python',
 'ID': '588561'}

In [23]:
# pop --> Remove an entry 
dict1.pop("ID")

'588561'

In [24]:
dict1

{'name': 'mounika k',
 'Address': 'Hyderabad',
 'email': 'abc@gmail.com',
 'course': 'Python'}

In [25]:
# popitem() --> Remove any random entry from the dict
dict1.popitem()

('course', 'Python')

In [26]:
dict1

{'name': 'mounika k', 'Address': 'Hyderabad', 'email': 'abc@gmail.com'}

In [28]:
# copy() --> copys one dict to another dict
dict2 = dict1.copy()
print(dict1, "\n", dict2)

{'name': 'mounika k', 'Address': 'Hyderabad', 'email': 'abc@gmail.com'}
 {'name': 'mounika k', 'Address': 'Hyderabad', 'email': 'abc@gmail.com'}

In [30]:
dict2.clear()
dict2

{}

In [31]:
# update --> Updates all the entries from old to new dict
dict2.update(dict1)
dict2

{'name': 'mounika k', 'Address': 'Hyderabad', 'email': 'abc@gmail.com'}

In [32]:
dict2.update({1:"one", 2:"two"})
dict2

{'name': 'mounika k',
 'Address': 'Hyderabad',
 'email': 'abc@gmail.com',
 1: 'one',
 2: 'two'}

###  Break and Continue

In [33]:
for i in range(1,11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [34]:
# break --> Exit the loop
for i in range(1,11):
    if i ==5:
        break
    print(i, end=" ")

1 2 3 4

In [35]:
for val in "string":
    if val=="i":
        break
    print(val)
print("The end")

s
t
r
The end

In [36]:
# Continue --> to skip the statements
for i in range(1,11):
    if i==5 or i==9:
        continue
    print(i, end=" ")

1 2 3 4 6 7 8 10